@import "base.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.cmp-portfolio a {
    all: unset;
}

.cmp-portfolio a:hover {
    all: unset;
}
/* DEFAULT STYLES */

.cmp-button__primary {
    background-color: var(--yellow-color);
    font-size: 12px;
    border-radius: 40px;
    border: none;
    padding: 8px 18px;
}

.mobile-tag {
    padding: 0 8px;
    background-color: var(--secondary-blue-color);
    font-size: 12px;
    color: var(--dark-blue-color);
    font-weight: 600;
    line-height: 150%;
    display: inline-block;
    margin-bottom: var(--spacer-s);

}

@media only screen and (min-width:768px) {
    .mobile-tag {
        display: none;
    }
}

/*  HEADER STYLES  */

.cmp-header {
    min-height: 98px;
    background-color: var(--light-gray-color);
    border-bottom: 8px solid var(--yellow-color);
}

.cmp-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.cmp-header__container-logo img {
    height: 40px;
}

.cmp-header__container-menu ul {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

.cmp-header__container-menu a {
    text-decoration: none;
    color: var(--dark-blue-color);
}

.cmp-header__container-icon {
    display: none;
}

@media (max-width: 768px) {
    .cmp-header__container-menu {
        display: none;
    }

    .cmp-header__container-icon {
        display: block;
        font-size: 28px;
    }

    .cmp-header__container-menu--active {
        display: block !important;
        position: absolute;
        top: 98px;
        background-color: var(--light-gray-color);
        left: 0;
        right: 0;
        height: calc(100vh - 98px);
        padding-top: 64px;
        z-index: 100 !important;
    }

    .cmp-header__container-menu--active ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;
        margin: 0;
        padding: 0;
    }

}

/* HERO STYLES */

.cmp-hero {
    padding: var(--spacer-xxl) 0;
}

.cmp-hero__image img {
    aspect-ratio: 1;
    height: auto;
    width: 100%;
    max-width: 290px;
    object-fit: cover;
    border-radius: 50%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-bottom: var(--spacer-xxxl);
}

.cmp-hero__image {
    background-image: url("../img/backgrounds/bg-mobile.png");
    background-size: cover;
    background-position: center;
}

.cmp-hero__content-title h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: var(--dark-blue-color);
    margin-bottom: var(--spacer-m);
}

.cmp-hero__content-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--secondary-blue-color);
    margin-bottom: var(--spacer-m);
}

/* TABLET DESIGN*/
@media only screen and (min-width:768px) {
    .cmp-hero__image {
        background-image: url("../img/backgrounds/bg-tablet.png");
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: flex-end;
    }

    .cmp-hero__image img {
        max-width: 347px;
        object-fit: cover;
        border-radius: 50%;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        margin-bottom: var(--spacer-xxxl);
    }


    .cmp-hero__content-title h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        margin-bottom: var(--spacer-l);
    }

    .cmp-hero__content-description p {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: var(--spacer-l);
    }

    .cmp-hero__content-wrapper {
        margin-top: -100px;
    }

}



/* DESKTOP DESIGN */

@media only screen and (min-width:992px) {
    .cmp-hero {
        padding: var(--spacer-xxxl) 0;
    }

    .cmp-hero__container {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
    }

    .cmp-hero__content-wrapper {
        margin-top: 0;
    }

    .cmp-hero__image {
        background-image: none;
    }

    .cmp-hero {
        background-image: url("../img/backgrounds/bg-desktop.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: flex-end;
    }

    .cmp-hero__image img {
        max-width: 347px;
    }

    .cmp-hero__content-title h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
        margin-bottom: var(--spacer-l);
    }

}


/* CLIENTES */

.cmp-clients {
    padding: var(--spacer-l) 0;
}

.cmp-clients__content-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--dark-blue-color);
    margin-bottom: var(--spacer-s);
}

.cmp-clients__content-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--secondary-blue-color);
    margin-bottom: var(--spacer-s);
}


.cmp-clients__logo-carousel-image {
    max-width: 150px;
    height: 80px;
    object-fit: contain;
    margin: 0 12px;
    filter: grayscale(1);
    opacity: .8;
    transition: filter .2s ease-out;

}

.cmp-clients__logo-carousel-image:hover {
    filter: grayscale(0);
    transition: filter .2s ease-out;
}

.cmp-clients__logo-carousel-wrapper {
    position: relative;
}

.cmp-clients__logo-carousel-white-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 70px;
    background-image: linear-gradient(to right, white, transparent);
    z-index: 2;
}

.cmp-clients__logo-carousel-white-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 70px;
    background-image: linear-gradient(to left, white, transparent);
    z-index: 2;
}


/* the slides */
.cmp-clients .slick-slide {
    margin: 0 12px;
}

/* the parent */
.cmp-clients .slick-list {
    margin: 0 -12px;
}

@media only screen and (min-width:992px) {

    .cmp-clients {
        padding-top: var(--spacer-xl);
        padding-bottom: var(--spacer-xxxl);
    }


    .cmp-clients__logo-carousel-white-left,
    .cmp-clients__logo-carousel-white-right {
        display: none;
    }

    .cmp-clients__logo-carousel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--spacer-m);
    }

    .cmp-clients__logo-carousel-image {
        max-height: 40px;
    }

    .cmp-clients__content-description {
        margin-bottom: var(--spacer-xxl);
    }
}


/* SKILLS */

.cmp-skills {
    padding: var(--spacer-l) 0;
}

.cmp-skills__container {
    position: relative;
}

.cmp-skills__text-wrapper {
    margin-top: var(--spacer-xl);
}

.cmp-skills__title {
    margin-bottom: var(--spacer-xl);
    color: var(--dark-blue-color);
}

.cmp-skills__subtitle {
    display: none;
}

.cmp-skills__circle {
    height: 177px;
    width: 177px;
    background-color: var(--light-yellow-color);
    border-radius: 50%;
    position: absolute;
    right: var(--spacer-m);
    z-index: -1;
}

.cmp-skills__list ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.cmp-skills__list li {
    margin-bottom: var(--spacer-l);
}

.cmp-skills__list li i {
    margin-right: var(--spacer-xs);
}

@media only screen and (min-width:768px) {

    .cmp-skills__title {
        margin-bottom: 0;
    }

    .cmp-skills__subtitle {
        display: block;
        margin-bottom: var(--spacer-xxl);
        color: var(--secondary-blue-color);
    }

    .cmp-skills__circle {
        right: unset;
        left: var(--spacer-m);
    }
}


@media only screen and (min-width:992px) {

    .cmp-skills {
        padding-top: var(--spacer-xl);
        padding-bottom: var(--spacer-xxxl);
    }
}


/* CMP CARDS */

.cmp-cards {
    padding: var(--spacer-l) 0;
}

.cmp-cards__title {
    text-align: center;
    margin-bottom: var(--spacer-xxl);
}

.cmp-cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.cmp-cards__item {
    background-color: var(--dark-blue-color);
    border-top: 8px solid var(--light-blue-color);
    min-height: 250px;
    padding: 32px 24px;
    margin-bottom: 24px;
    color: white;
    position: relative;
    width: calc(100% - 12px);
}

.cmp-cards__item-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: var(--spacer-s);
}

.cmp-cards__item-icon {
    font-size: var(--spacer-l);
}

.cmp-cards__item-tag {
    background-color: var(--yellow-color);
    border-radius: 5px;
    color: var(--dark-blue-color);
    padding: 16px 28px;
    position: absolute;
    right: -12px;
    bottom: -24px;
    display: flex;
    gap: 20px;
}

.cmp-cards__contact {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: calc(100% - 12px);
}

.cmp-cards__contact a {
    color: var(--secondary-blue-color);
    border-bottom: 2px solid var(--secondary-blue-color);
    text-decoration: none;
}

.cmp-cards__contact a:hover{
    color: var(--light-blue-color);
}

@media only screen and (min-width:768px) {

    .cmp-cards__item, .cmp-cards__contact {
        flex: 0 0 47%;
        /*TABLET*/
    }
}

@media only screen and (min-width:992px) {

    .cmp-cards {
        padding-top: var(--spacer-xl);
        padding-bottom: var(--spacer-xxxl);
    }

    .cmp-cards__item, .cmp-cards__contact {
        flex: 0 0 30%;
        /*ESCRITORIO*/
    }
}

/* ACORDEÓN */

.cmp-accordion {
    padding: var(--spacer-l) 0;
}

.cmp-accordion__title {
    margin-bottom: var(--spacer-xxl);
}

.cmp-accordion__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--dark-blue-color) !important;
}

.cmp-accordion__button.collapsed {
    color: var(--secondary-blue-color) !important;
}

.cmp-accordion__number {
    color: var(--dark-blue-color);
}

.cmp-accordion__body-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-blue-color);
    padding: 9px 0;

}

.cmp-accordion__body-item-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--secondary-blue-color);
}

.cmp-accordion__body-item-description {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-blue-color);
    text-transform: uppercase;


}

/* ACCORDION BOOTSTRAP OVERRIDE */
.accordion-item {
    border: none;
}

.accordion-button {
    border-bottom: 1px solid var(--light-blue-color);
    gap: var(--spacer-s);
}

.accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: unset;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/icons/chevron-down.svg);
}

.accordion-body {
    padding: 0;
    padding-top: 20px
}

/* PORTFOLIO CMP */

.cmp-portfolio {
    padding: var(--spacer-l) 0;
}

.cmp-portfolio__tabs-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-bottom: 1px solid var(--light-blue-color);
}
.cmp-portfolio__tabs-wrapper li {
    cursor: pointer;
}
.cmp-portfolio__tabs-wrapper li a:hover{
    all: unset
    /* padding: 8px; */
}


.cmp-portfolio__circle {
    height: 127px;
    width: 127px;
    background-color: #C4D4E0;
    opacity: .3;
    border-radius: 50%;
    position: absolute;
    right: var(--spacer-m);
    z-index: -1;
}

.cmp-portfolio__text-wrapper {
    margin-top: var(--spacer-xl);
}

.cmp-portfolio__title {
    color: var(--dark-blue-color);
}

.cmp-portfolio__subtitle {
    margin-bottom: var(--spacer-xl);
    color: var(--secondary-blue-color);
}

.cmp-portfolio__items-wrapper.active {
    padding-top: var(--spacer-l);
    display: flex !important;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;

}

.cmp-portfolio__item {
    border-radius: 15px;
    position: relative;
    background-color: var(--light-gray-color);
}

.cmp-portfolio__item-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.cmp-portfolio__item-tag {
    background-color: var(--yellow-color);
    padding: 8px 12px;
    display: inline-block;
    position: absolute;
    top: var(--spacer-m);
    left: var(--spacer-m);
}

.cmp-portfolio__item-content {
    padding: var(--spacer-m);
}

.cmp-portfolio__item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
}

.cmp-portfolio__item-description {
    margin-bottom: var(--spacer-m);
}

@media only screen and (min-width:768px) {

    .cmp-portfolio__title {
        margin-bottom: 0;
        text-align: center;
    }

    .cmp-portfolio__subtitle {
        display: block;
        margin-bottom: var(--spacer-xxl);
        color: var(--secondary-blue-color);
        text-align: center;
    }

    .cmp-portfolio__circle {
        right: 25%;
        left: unset;
    }

    .cmp-portfolio__item {
        flex: 0 0 47%;
        /*TABLET*/
    }
}


@media only screen and (min-width:992px) {

    .cmp-portfolio {
        padding-top: var(--spacer-xl);
        padding-bottom: var(--spacer-xxxl);
    }

    .cmp-portfolio__item {
        flex: 0 0 30%;
        /*ESCRITORIO*/
    }
}


/* TABS BOOTSTRAP OVERRIDE */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: none;
    border-color: unset;
    border-bottom: 5px solid var(--yellow-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-blue-color);
    text-transform: uppercase;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    border: none;
    color: var(--secondary-blue-color);
    text-transform: uppercase;
}


/* CONTACTO */

.cmp-contact {
    padding: var(--spacer-l) 0;
}

.cmp-contact__container {
    position: relative;
}

.cmp-contact__title {
    color: var(--dark-blue-color);
}

.cmp-contact__subtitle {
    color: var(--secondary-blue-color);
    margin-bottom: var(--spacer-m);
}


.cmp-contact__circle {
    height: 127px;
    width: 127px;
    background-color: var(--light-yellow-color);
    border-radius: 50%;
    position: absolute;
    right: var(--spacer-m);
    top: -25px;
    z-index: -1;
}

.cmp-contact__title-h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-blue-color);
    margin-bottom: var(--spacer-xl);
}

.cmp-contact__form input:not([type="checkbox"]) {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--light-blue-color);
    
}

.cmp-contact__form-first-row {
    margin-bottom: 25px;
}

.cmp-contact__form textarea{
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--light-blue-color);
}

.cmp-contact__checkbox{
    display: inline;
    margin-right: 8px;
    margin-bottom: 16px;
}

.cmp-contact__list{
    list-style-type: none;
}

.cmp-contact__list li {
    margin-bottom: 20px;
}

.cmp-contact__list li i {
    margin-right: 18px;
}
.cmp-contact__form {
    margin-bottom: var(--spacer-xxl) ;
}
.cmp-contact__form input:focus {
    border-bottom: 3px solid var(--dark-blue-color);
}

.cmp-contact__form textarea:focus-visible,input:focus-visible {
    outline: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--light-blue-color);
    opacity: 1;
    /* Firefox */
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--light-blue-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--light-blue-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}


@media only screen and (min-width:768px) {
    .cmp-contact__list-form-container {
        flex-direction: row-reverse;
    }

    .cmp-contact__subtitle {
        margin-bottom: var(--spacer-xxl);
    }

    .cmp-contact__circle {
        right: unset;
        left: var(--spacer-m);
    }

    .cmp-contact__title-h3 {
        font-size: 20px;
    }
}



/* FOOTER */

.cmp-footer{
    background-color: var(--dark-blue-color);
    border-bottom: 12px solid var(--yellow-color);
    color: white;
}

.cmp-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85px;
}

.cmp-footer__wrapper p {
    margin: 0;
}

.cmp-footer__links a{
    color: white;
    text-decoration: none;
    margin-left: 24px;
}