@import "base.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.cmp-header{
    min-height: 98px;
    background-color: var(--light-gray-color);
    border-bottom: 8px solid var(--yellow-color);
}

.cmp-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.cmp-header__container-logo img{
    height: 40px;
}

.cmp-header__container-menu ul {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

.cmp-header__container-menu a{
    text-decoration: none;
    color: var(--dark-blue-color);
}

.cmp-header__container-menu button{
    background-color: var(--yellow-color);
    border-radius: 40px;
    border: none;
    padding: 8px 18px;
}

.cmp-header__container-icon{
    display: none;
}

@media (max-width: 768px) {
    .cmp-header__container-menu{
        display: none;
    }

    .cmp-header__container-icon{
        display: block;
        font-size: 28px;
    }

    .cmp-header__container-menu--active{
        display: block !important;
        position: absolute;
        top: 98px;
        background-color: var(--light-gray-color);
        left: 0;
        right: 0;
        height: calc(100vh - 98px);
        padding-top: 64px;
    }

    .cmp-header__container-menu--active ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;
        margin: 0;
        padding: 0;
    }

}